@import 'helpers/variables';

.button-link {

    text-decoration: none;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: $guybrush-dark;
    color: $reshiram-white;
    font-weight: 700;
}

