main {

    min-height: calc(100vh - 160px);
    background-color: $reshiram-white;

    .container {

        @include container(80%);
        @include flex(column, center, center);
    }

    h1 {

        color: $guybrush-dark;
    }

    ul {
        list-style-type: none;   
    }

    .cars-list {
        
        .car-name {

            text-transform: uppercase;
            color: $swamper-pastel-blue;
            font-weight: 400;
            padding: 5px 0;
        }
    }
}